{% extends "layout" %}

{% block title %}Главная страница{% endblock %}

{% block container %}container-fluid{% endblock %}

{% block content %}
    
    <div class="row">
        <div id="planner" class="col-10">
            {% include 'planner' %}
        </div>        
        <div class="col">
            
            <form action="{{ route('task.add-batch') }}" method="post" class="align-items-center">
                {{ csrf_field() }}
                <div class="text-center">
                    <select name="group_id" class="form-select">
                        <option value="">-= Не выбрано =-</option>
                    {% for k,v in groupList %}
                        <option value="{{ k }}">{{ v | raw }}</option>
                    {% endfor %}
                    </select>
                    
                    <textarea name="task-list" class="form-control"></textarea>

                    <br />
                    <button type="submit" class="btn btn-primary">Добавить</button>
                    <a href="{{ route('task.add') }}" class="btn btn-primary">+</a>
                </div>
            </form>
            
                    
            {% for g, tl in taskListGrouped %}
                <h2>{{ g }}</h2>
                
                <ul style='list-style-type: none;' class='day'>
                {% for t in tl %}                
                    {% include 'task.item' with { showGroup: 0 } %}
                {% endfor %}
                </ul>
            {% endfor %}
        </div>

    </div>
    
    <br /><br />    
    
{% endblock %}

{% block js %}
    <script>
        window.addEventListener('load', function () {
            runPlannerControl();
            bindTaskDnD();
        });
        
        function bindTaskDnD() {
            
            let dragged = null;
            const ellist = document.getElementsByClassName("task");
            
            for (let e of ellist) {
                e.addEventListener("dragstart", function (e) {
                     dragged = event.target;
                });
            }            

            const ellist2 = document.getElementsByClassName("day-hour");
            for (let e of ellist2) {
                
                e.addEventListener("dragenter", (event) => {
                    event.target.classList.add("day-hour-active");
                    event.preventDefault();
                });

                e.addEventListener("dragleave", (event) => {
                    event.target.classList.remove("day-hour-active");
                    event.preventDefault();
                });

                e.addEventListener("dragover", (event) => {
                    event.preventDefault();
                });
                
                e.addEventListener("drop", function (event) {
                    event.preventDefault();
                    event.target.classList.remove("day-hour-active");
                    
                    ulel = this.querySelector("ul.day");
                    
                    if (!ulel) {
                        ulel = document.createElement("ul");
                        this.appendChild(ulel);
                    }
                    
                    dragged.parentNode.removeChild(dragged);                    
                    ulel.appendChild(dragged);
                    
                    const url = "/task/plan-dth/" + dragged.getAttribute("data-id") + "/" + this.getAttribute('data-dt') + "/" + + this.getAttribute('data-hour');
                    
                    fetch(url, { 
                        method: "POST",
                        headers: new Headers({
                            'Content-Type': 'application/x-www-form-urlencoded', // <-- Specifying the Content-Type
                        }),
                        body: "_token=" + '{{ csrf_token() }}' 
                        }).then(response => {
                            
                        });

                });
            }            
        }
        
        function runPlannerControl() {
            const ellist = document.getElementsByClassName("planner-control");
            for (let e of ellist) {
                e.onclick = function () {
                    const target = document.getElementById('planner');
                    target.innerHTML = '...';
                    const url = "/schedule/" + this.getAttribute('data-dt') + "/" + this.getAttribute('data-period');
                    
                    fetch(url)
                        .then(response => response.text())
                        .then(t => { 
                            target.innerHTML = t; 
                            runPlannerControl();
                        });
                }
            }
        }
    </script>
    
{% endblock %}