{% extends "layout" %}

{% block title %}Главная страница{% endblock %}

{% block container %}container-fluid{% endblock %}

{% block content %}

    <br /><br />
    <div class="text-center">
        <a href="{{ route('task.add') }}" class="btn btn-primary">Добавить задачу</a>
    </div>
    
    <br /><br />
    
    <div class="row">
        <div id="planner" class="col-10">
            {% include 'planner' %}
        </div>        
        <div class="col">
            
            <form action="{{ route('task.add-batch') }}" method="post" class="align-items-center">
                {{ csrf_field() }}
                <div class="text-center">
                    <select name="group_id" class="form-select">
                        <option value="">-= Не выбрано =-</option>
                    {% for k,v in groupList %}
                        <option value="{{ k }}">{{ v | raw }}</option>
                    {% endfor %}
                    </select>
                    
                    <textarea name="task-list" class="form-control"></textarea>

                    <br />
                    <button type="submit" class="btn btn-primary">Добавить</button>
                </div>
            </form>
            
                    
            {% for g, tl in taskListGrouped %}
                <h2>{{ g }}</h2>
                
                <ul style='list-style-type: none;' class='day'>
                {% for t in tl %}                
                    <li class="task task-priority-{{ t.priority | lower }}">
                        <div>{{ t.short }}</div>
                        <div class="task-footer" style="display: none;">
                            <hr />
                            &#9999; <a href="{{ route('task.edit', { task: t }) }}">Редактировать</a>
                            &#128465; <a href="{{ route('task.delete', { task: t }) }}"
                                         class="text-danger"
                                         data-method="post"
                                         data-confirm="Удалить задачу #{{ t.id }}  '{{ t.short }}'?"
                                         data-token='{{ csrf_token() }}'
                                         >Удалить</a>
                        </div>
                    </li>
                {% endfor %}
                </ul>
            {% endfor %}
        </div>

    </div>
    
    <br /><br />    
    
{% endblock %}

{% block js %}
    <script>
        window.addEventListener('load', function () {
            runPlannerControl();
        });
        
        function runPlannerControl() {
            const ellist = document.getElementsByClassName("planner-control");
            for (let e of ellist) {
                e.onclick = function () {
                    const target = document.getElementById('planner');
                    target.innerHTML = '...';
                    const url = "/schedule/" + this.getAttribute('data-dt') + "/" + + this.getAttribute('data-period');
                    
                    fetch(url)
                        .then(response => response.text())
                        .then(t => { 
                            target.innerHTML = t; 
                            runPlannerControl();
                        });
                }
            }
        }
    </script>
    
{% endblock %}